<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="layout-style.css" />
    <title>Layout</title>
  </head>
  <body>
    <nav>Nav</nav>
    <menu
      >Menu
      <button>New mail</button>
      <button>Reply</button>
      <button>Delete</button>
    </menu>
    <section class="sidebar">
      Email list
      <div class="email">Email</div>
      <div class="email">Email</div>
      <div class="email">Email</div>
      <div class="email">Email</div>
      <div class="email">Email</div>
      <div class="email">Email</div>
      <div class="email">Email</div>
      <div class="email">Email</div>
      <div class="email">Email</div>
      <div class="email">Email</div>
      <div class="email">Email</div>
    </section>
    <main>Email content</main>
    <aside>Additional info</aside>
  </body>
</html>
