.accordion {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.accordion-item {
  /* border-bottom: 3px solid #457b9d;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  padding: 1rem;
  gap: 0.8rem;
  row-gap: 0rem;
  align-items: end;
  column-gap: 4rem; */
}

.date,
.sum {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0px;
}

.sum {
  grid-column: 2 / 3;
}

.date {
  grid-column: 1 / 2;
}

.accordion-icon {
  width: 24px;
  height: 24px;
  stroke: black;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.hidden-box {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  padding: 0px 20px;
  background-color: #fff;
  display: none;
}

.item-open .hidden-box {
  display: block;
}

.date-span-transactions {
  border-spacing: 0.3rem 0.8rem;
}

.accordion-header {
  border-bottom: 3px solid #457b9d;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  padding: 1rem;
  gap: 0.8rem;
  row-gap: 0rem;
  align-items: end;
  column-gap: 4rem;
}

