/* COLORS */
/*
    Dark red:   #e63946
    Turqouse:        #a8dadc
    Beige:      #f1faee
    Dark blue:  #1d3557
    Light blue: #457b9d
*/

/* MARGINS & PADDINGS */
/* 
    sm = 1.6rem
    md = 3.2rem
    lg = 4.8rem
*/

/* FONT-SIZE */
/* 
    sm = 1.4rem
    md = 1.6rem
    lg = 1.8rem
 */

/* HEADINGS */
/* 
    primary = 4rem
    secondary = 2rem
    tertiary = 1.6rem
  */

/* REMOVE DEFAULT STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CREATE A DEFAULT FONTSIZE SO REM USAGE IS EASIER */
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

/* STRUCTURES */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.shadow-box {
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
}

.box__rounded-sm {
  border-radius: 0.5rem;
}

/* GRIDS */
.grid {
  display: grid;
  gap: 2rem;
}

.grid__2-cols {
  grid-template-columns: repeat(2, 1fr);
}

/* TEXT AND HEADINGS */
.heading-primary {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.02rem;
}

.heading-secondary {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.01rem;
  line-height: 1.5;
  color: #404446;
}

.heading-tertiary {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.01rem;
  line-height: 1.5;
  color: #404446;
}

.text-sm {
  font-size: 0.9rem;
}

.text-md {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.2rem;
}

.text-strong {
  font-weight: 700;
}

/* MARGINS & PADDING */
.mt-sm {
  margin-top: 1.6rem;
}

.mb-sm {
  margin-bottom: 1.6rem;
}

.mr-sm {
  margin-right: 1.6rem;
}

.ml-sm {
  margin-left: 1.6rem;
}

.padding-sm {
  padding: 0.5rem;
}

.padding-b-sm {
  padding-bottom: 0.5rem;
}

/* CTA & LINKS */
a:link {
    text-decoration: none;
    color: #1d3557;
}

a:visited {
    text-decoration: none;
    color: #1d3557;
}

.btn a:link,
.btn a:visited {
  text-decoration: none;
  color: #fff;
}

a:hover,
a:active {
  color: #d5a743;
}

/* 40px 999em 40px 999em */
.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.2rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.4rem;
  border: none;
}

/* PRIMARY */
.btn--primary:link,
.btn--primary:visited {
  background-color: #333;
  color: #fff;
}

.btn--primary:hover,
.btn--primary:active {
  background-color: #000;
  color: #fff;
}

/* STAND ALONE ELEMENTS */
.divider {
  width: 90%;
  height: 0.1rem;
  background-color: #919090;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
