/* REMOVE DEFAULT STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CREATE A DEFAULT FONTSIZE SO REM USAGE IS EASIER */
html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

a:link,
a:visited {
    text-decoration: none;
    color: #8ecae6;
}

a:hover,
a:active {
    color: #d5a743;
}

.top-nav {
    padding: 2rem;
    background-color: #cdb4db;
    margin-bottom: 2rem;
    /* make nav sticky */
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    padding: 0 10rem;
}

.nav-list__logo {
    margin-right: auto;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
}

.nav-list__item {
    font-size: 1.8rem;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
  }
  
.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.hero-banner {
    background-color: #ffc8dd;
    max-width: 130rem;
}

.shadow-box {
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
}

.box__rounded-sm {
    border-radius: 0.5rem;
}

.heading-primary {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.02rem;
    margin-bottom: 2rem;
}

.heading-secondary {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    letter-spacing: 0.01rem;
    line-height: 1.5;
    color: #404446;
}

.divider {
    width: 90%;
    height: 0.1rem;
    background-color: #919090;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
}