/* COLORS */
/*
    Dark red:   #e63946
    Turqouse:        #a8dadc
    Beige:      #f1faee
    Dark blue:  #1d3557
    Light blue: #457b9d
*/

/* MARGINS & PADDINGS */
/* 
    sm = 1.6rem
    md = 3.2rem
    lg = 4.8rem
*/

/* FONT-SIZE */
/* 
    sm = 1.4rem
    md = 1.6rem
    lg = 1.8rem
 */

 /* HEADINGS */
 /* 
    primary = 4rem
    secondary = 2rem
    tertiary = 1.6rem
  */

.top-nav {
    padding: 2rem;
    background-color: #e63946;
    color: whitesmoke;
    margin-bottom: 2rem;
    /* make nav sticky */
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    padding: 0 10rem;
}

.nav-list__logo {
    margin-right: auto;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
}

.nav-list__item {
    font-size: 1.8rem;
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.hero-banner {
    background-color: #f1faee;
    max-width: 130rem;
}