* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Inter", sans-serif;
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  height: 24px;
  width: 24px;
  stroke: rgb(64, 95, 32);
  fill: rgb(159, 209, 133);
}

.btn {
  border: 1px solid rgb(64, 95, 32);
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #fff;
}

.btn:hover {
  background-color: rgb(64, 95, 32);
}

.btn:hover .icon {
  stroke: #fff;
}

.homo:link,
.homo:visited {
  font-size: 18px;
  color: #343a40;
  text-decoration: none;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homo:hover,
.homo:active,
.homo.homo--selected {
  color: rgb(159, 209, 133);
  background-color: rgb(64, 95, 32);
}
